* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --main-width: 1200px;
}

.flex {
  display: flex;
}

header {
  justify-content: center;
  height: 80px;
}

.header-container {
  justify-content: space-between;
  width: var(--main-width);
  height: 100%;
  align-items: center;
}

nav {
  width: 1000px;
  justify-content: space-between;
  align-items: center;
}

nav > a, nav > div {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 8px;
  color: black;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: #B00000;
}

.stick {
  width: 1px;
  background: #DAD8D8;
  height: 30px;
  margin: 0 10px;
}

.hero {
  width: var(--main-width);
  margin: auto;
  margin-top: 50px;
  justify-content: space-between;
}

.info {
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.info h2 {
  font-size: 64px;
  line-height: 77px;
}

.info p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #808080;
}

.info .links a {
  color: rgba(214, 212, 212, 0.88);
  margin-right: 10px;
}
.info .links a:hover {
  color: #B00000;
  text-decoration: underline;
  text-decoration-color: #B00000;
}

.info .buttons a {
  width: 160px;
  padding: 12px;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 20px;
}

.info .buttons a:hover {
  background: #B00000;
  box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
  color: white;
  border: 1px solid #B00000;
}

